.green{ 
    background-color: #6aaa64; 
    color: white; 
}
.yellow{ 
    background-color: #c9b458; 
    color: white; 
}
.red, .up, .down { 
    background-color: #d9534f; 
    color: white;
}

.up::after{
    content: " ↑";
}

.down::after{
    content: " ↓";
}